@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans), sans-serif;
  --font-serif: var(--font-serif-en), var(--font-serif-jp), serif;
}

:root {
  --background: #ecebe8;
  --foreground: #1a162d;
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Ensure placeholder has the same font family */
::placeholder {
  font-family: var(--font-serif-en), var(--font-serif-jp), serif;
}
